@font-face {
    font-family: "Futura";
    font-weight: 400;
    src: url("../assets/fonts/FuturaPT-Light.ttf");
  }
  
  @font-face {
    font-family: "Futura";
    font-weight: 450;
    src: url("../assets/fonts/FuturaPT-Book.ttf");
  }
  
  @font-face {
    font-family: "Futura";
    font-weight: 500;
    src: url("../assets/fonts/FuturaPT-Medium.ttf");
  }
  
  @font-face {
    font-family: "Futura";
    font-weight: 600;
    src: url("../assets/fonts/FuturaPT-Demi.ttf");
  }
  
  @font-face {
    font-family: "Futura";
    font-weight: 800;
    src: url("../assets/fonts/FuturaPT-Bold.ttf");
  }
  